@import '../../mixin.scss';

.main { 
    &H1 {
        @include title; 
        font-size: 56px;
        line-height: 80px;
        padding: 72px 0 47px 0;
    }
    &Nav {
        position: relative;
        
        &::after {
            @include separator;
            bottom: -24px;
        }
        &Ul {
            display: flex;
            flex-direction: row;
            max-width: 350px;
            justify-content: space-around;
            & > li a {
                @include subtitle;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 24px;
            }
        }
    }

}